.champion-comparison-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .champion-card-left,
  .champion-card-right {
    width: 40%;
  }
  
  .champion-selection {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .champion-card-left,
    .champion-card-right {
      width: 40%;
    }
  
    .champion-selection {
      width: 20%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .champion-card-left,
    .champion-card-right {
      width: 35%;
    }
  
    .champion-selection {
      width: 30%;
    }
  }
  